 /* CSS for All */
* {
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* ============= Top Most bar ============== */
.topbar{
	background-color:red;
	padding:10px 0;
	color:#fff;
}

.container {
  width: 95%;
  margin: 0 auto;
 
}
.img-responsive {
  width: 100%;
  
}
.img-curve {
  border-radius: 15px;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-white {
  color: white;
}

.clearfix {
  clear: both;
  float: none;
}

a {
  color: red;
  text-decoration: none;
}
a:hover {
  color: #ee4a8e;
}

.btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: #ee4a8e;
  color: white;
  cursor: pointer;
}
.btn-primary:hover {
  color: white;
  background-color: #ee4a8e;
}
 h2 {
  color: #2f3542;
  font-size: 2rem;
  margin-bottom: 2%;
}
h3 {
  font-size: 1.3rem;
}
.float-container {
  position: relative;
}
.float-text {
  position: absolute;
  bottom: 50px;
  left: 40%;
}
fieldset {
  border: 1px solid white;
  margin: 5%;
  padding: 3%;
  border-radius: 5px;
}

.error {
  padding: 2%;
  color: red;
}
.success {
  padding: 2%;
  color: green;
}

/* CSSS for navbar section */

.logo {
  width: 10%;
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.logo img{
  width: 200px !important;
}

.menu {
  line-height: 60px;
}
.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline;
  padding: 1%;
  font-weight: bold;
}

/* CSS for Food SEarch Section */

.food-search {
  background-image: url(../images/backgs.jpg);
  padding:13%;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:  center;
  
}

.food-search input[type="search"] {
  width: 50%;
  padding: 1%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.food-search2 {
  background-image: url(../images/backgs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15% 0;
}

.food-search2 input[type="search"] {
  width: 50%;
  padding: 1%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

/* CSS for Categories */
.categories {
  padding: 4% 0;
}

.box-3 {
  width: 28%;
  float: left;
  margin: 2%;
}

/* CSS for Food Menu */
.food-menu {
  background-color: #ececec;
  padding: 4% 0;
}
.food-menu-box {
  width: 43%;
  margin: 1%;
  padding: 2%;
  float: left;
  background-color: white;
  border-radius: 15px;
}

.food-menu-img {
  width: 20%;
  float: left;
}

.food-menu-desc {
  width: 70%;
  float: left;
  margin-left: 8%;
}

.food-price {
  font-size: 1.2rem;
  margin: 2% 0;
}
.food-detail {
  font-size: 1rem;
  color: #747d8c;
}

/* CSS for Social */
.social ul {
  list-style-type: none;
}
.social ul li {
  display: inline;
  padding: 1%;
}

/* for Order Section */
.order {
  width: 50%;
  margin: 0 auto;
  background-color: red;
  
}
.input-responsive {
  width: 96%;
  padding: 1%;
  margin-bottom: 3%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.order-label {
  margin-bottom: 1%;
  font-weight: bold;
}

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width: 768px) {
  .logo {
    width: 80%;
    float: none;
    margin: 1% auto;
  }

  .menu ul {
    text-align: center;
  }

  .food-search input[type="search"] {
    width: 90%;
    padding: 2%;
    margin-bottom: 3%;
  }

  .btn {
    width: 91%;
    padding: 2%;
  }

  .food-search {
    padding: 10% 0;
  }

  .categories {
    padding: 20% 0;
  }
  h2 {
    margin-bottom: 10%;
  }
  .box-3 {
    width: 100%;
    margin: 4% auto;
  }

  .food-menu {
    padding: 20% 0;
  }

  .food-menu-box {
    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
  }
  .social {
    padding: 5% 0;
  }
  .order {
    width: 100%;
  }
}


.testim {
  width: 100%;
}

.testim .wrap {
  position: relative;
  width: 100%;
  max-width: 1020px;
  padding: 40px 20px;
  margin: auto;
}

.testim .arrow {
  display: block;
  position: absolute;
  color: orange;
  cursor: pointer;
  font-size: 2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s ease-in-out;    
  -ms-transition: all .3s ease-in-out;    
  -moz-transition: all .3s ease-in-out;    
  -o-transition: all .3s ease-in-out;    
  transition: all .3s ease-in-out;
  padding: 5px;
  z-index: 22222222;
}

.testim .arrow:before {
  cursor: pointer;
}

.testim .arrow:hover {
  color: #ea830e;
}
  

.testim .arrow.left {
  left: 10px;
}

.testim .arrow.right {
  right: 10px;
}

.testim .dots {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  display: block;
  z-index: 3333;
  height: 12px;
}

.testim .dots .dot {
  list-style-type: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #aaa;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;    
  -ms-transition: all .5s ease-in-out;    
  -moz-transition: all .5s ease-in-out;    
  -o-transition: all .5s ease-in-out;    
  transition: all .5s ease-in-out;
  position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
  background: #ea830e;
  border-color: #ea830e;
}

.testim .dots .dot.active {
  -webkit-animation: testim-scale .5s ease-in-out forwards;   
  -moz-animation: testim-scale .5s ease-in-out forwards;   
  -ms-animation: testim-scale .5s ease-in-out forwards;   
  -o-animation: testim-scale .5s ease-in-out forwards;   
  animation: testim-scale .5s ease-in-out forwards;   
}
  
.testim .cont {
  position: relative;
  overflow: hidden;
}

.testim .cont > div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 70px 0;
  opacity: 0;
}

.testim .cont > div.inactive {
  opacity: 1;
}
  

.testim .cont > div.active {
  position: relative;
  opacity: 1;
}
  

.testim .cont div .img img {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
}

.testim .cont div h2 {
  color: #ea830e;
  font-size: 1em;
  margin: 15px 0;
}

.testim .cont div p {
  font-size: 1.15em;
  color: #000;
  width: 80%;
  margin: auto;
}

.testim .cont div.active .img img {
  -webkit-animation: testim-show .5s ease-in-out forwards;            
  -moz-animation: testim-show .5s ease-in-out forwards;            
  -ms-animation: testim-show .5s ease-in-out forwards;            
  -o-animation: testim-show .5s ease-in-out forwards;            
  animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
  -webkit-animation: testim-content-in .4s ease-in-out forwards;    
  -moz-animation: testim-content-in .4s ease-in-out forwards;    
  -ms-animation: testim-content-in .4s ease-in-out forwards;    
  -o-animation: testim-content-in .4s ease-in-out forwards;    
  animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
  -webkit-animation: testim-content-in .5s ease-in-out forwards;    
  -moz-animation: testim-content-in .5s ease-in-out forwards;    
  -ms-animation: testim-content-in .5s ease-in-out forwards;    
  -o-animation: testim-content-in .5s ease-in-out forwards;    
  animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
  -webkit-animation: testim-hide .5s ease-in-out forwards;            
  -moz-animation: testim-hide .5s ease-in-out forwards;            
  -ms-animation: testim-hide .5s ease-in-out forwards;            
  -o-animation: testim-hide .5s ease-in-out forwards;            
  animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
  -webkit-animation: testim-content-out .4s ease-in-out forwards;        
  -moz-animation: testim-content-out .4s ease-in-out forwards;        
  -ms-animation: testim-content-out .4s ease-in-out forwards;        
  -o-animation: testim-content-out .4s ease-in-out forwards;        
  animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
  -webkit-animation: testim-content-out .5s ease-in-out forwards;    
  -moz-animation: testim-content-out .5s ease-in-out forwards;    
  -ms-animation: testim-content-out .5s ease-in-out forwards;    
  -o-animation: testim-content-out .5s ease-in-out forwards;    
  animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
  0% {
      -webkit-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -webkit-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@-moz-keyframes testim-scale {
  0% {
      -moz-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -moz-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@-ms-keyframes testim-scale {
  0% {
      -ms-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -ms-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@-o-keyframes testim-scale {
  0% {
      -o-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -o-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -o-box-shadow: 0px 0px 10px 5px #ea830e;        
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      -o-box-shadow: 0px 0px 0px 0px #ea830e;        
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@keyframes testim-scale {
  0% {
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@-webkit-keyframes testim-content-in {
  from {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -webkit-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@-moz-keyframes testim-content-in {
  from {
      opacity: 0;
      -moz-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -moz-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@-ms-keyframes testim-content-in {
  from {
      opacity: 0;
      -ms-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -ms-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@-o-keyframes testim-content-in {
  from {
      opacity: 0;
      -o-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -o-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@keyframes testim-content-in {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      transform: translateY(0);        
  }
}

@-webkit-keyframes testim-content-out {
  from {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      -webkit-transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@-moz-keyframes testim-content-out {
  from {
      opacity: 1;
      -moz-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      -moz-transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@-ms-keyframes testim-content-out {
  from {
      opacity: 1;
      -ms-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      -ms-transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@-o-keyframes testim-content-out {
  from {
      opacity: 1;
      -o-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@keyframes testim-content-out {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      transform: translateY(-100%);        
  }
}

@-webkit-keyframes testim-show {
  from {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -webkit-transform: scale(1);       
      transform: scale(1);       
  }
}

@-moz-keyframes testim-show {
  from {
      opacity: 0;
      -moz-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -moz-transform: scale(1);       
      transform: scale(1);       
  }
}

@-ms-keyframes testim-show {
  from {
      opacity: 0;
      -ms-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -ms-transform: scale(1);       
      transform: scale(1);       
  }
}

@-o-keyframes testim-show {
  from {
      opacity: 0;
      -o-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -o-transform: scale(1);       
      transform: scale(1);       
  }
}

@keyframes testim-show {
  from {
      opacity: 0;
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      transform: scale(1);       
  }
}

@-webkit-keyframes testim-hide {
  from {
      opacity: 1;
      -webkit-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
}

@-moz-keyframes testim-hide {
  from {
      opacity: 1;
      -moz-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -moz-transform: scale(0);
      transform: scale(0);
  }
}

@-ms-keyframes testim-hide {
  from {
      opacity: 1;
      -ms-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -ms-transform: scale(0);
      transform: scale(0);
  }
}

@-o-keyframes testim-hide {
  from {
      opacity: 1;
      -o-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -o-transform: scale(0);
      transform: scale(0);
  }
}

@keyframes testim-hide {
  from {
      opacity: 1;
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      transform: scale(0);
  }
}

@media all and (max-width: 300px) {
body {
  font-size: 14px;
}
}

@media all and (max-width: 500px) {
.testim .arrow {
  font-size: 1.5em;
}

.testim .cont div p {
  line-height: 25px;

}

}